{% extends 'base_template_reg_log.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block title %}
    StarInvest - Вход
{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <form action="/" class="form_signup" method="post">
        <div class="form_item_container">
            <input placeholder="Почта" type="email" class="form_item" name="email" required>
        </div>
        <div class="form_item_container">
            <input placeholder="Пароль" type="password" class="form_item password-input" name="password" required>
            <img src="/static/img/closed_eye.svg" alt="Показать пароль" class="password_eye">
        </div>
        <div class="form_button_container">
            <button type="submit" class="form_button">
                Войти
            </button>
            <div class="form_forgot_password">
                <a href="#">Забыл пароль</a>
            </div>
        </div>
    </form>
    <div class="signup_container">
        <span>Нет аккаунта?</span>
        <div class="signup_link_container">
            <a href="/account/">Зарегистрироваться</a>
        </div>
    </div>
    <script src="/static/js/loginScripts.js"></script>
{% endblock %}