/* Шрифты */
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/helvatica_regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/* Основные стили */
body {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

/* Форма */
.form_signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 72px;
}

.form_item {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 25px;
}

.form_item.error {
    border-color: #ff0000;
}

.form_item_container {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 25px;
}

.password-input {
    width: calc(100% - 50px);
}

.password_eye {
    position: absolute;
    right: 25px;
    top: calc(50% - 25px);
}

.form_button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #84DD28;
    border: none;
    border-radius: 30px;
    margin: 0 auto
}

.form_button:hover {
    cursor: pointer;
}
.form_button_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form_forgot_password, .signup_link_container {
    text-align: center;
    padding: 0px 10px;
    margin-top: 10px;
    border-bottom: 2px solid #84DD28;
    width: fit-content;
    padding: 0px 10px;
}

.form_forgot_password a {
    text-decoration: none;
    color: #000;
}

.form_button {
    margin: 0 auto;
}

.signup_container {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 138px;
}

.signup_container span {
    margin-top: 10px;
}
