/* Шрифты */
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/helvatica_regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/* Основные стили */
body {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

/* Форма */
.form_signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60.6%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.form_item {
    width: calc(48.5% - 50px);
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 25px;
}

.password-input {
    margin-bottom: 0;
}

.form_item.error {
    border-color: #212121;
}

.form_item_container {
    width: 48.5%;
    position: relative;
    margin-bottom: 25px;
}

.form_item_container .form_item {
    width: calc(100% - 50px);
    margin-bottom: 0;
}

.error-message {
    color: #898B8E;
    font-size: 14px;
    margin-top: 10px;
}

.password-input {
    width: calc(100% - 50px);
}

.password_eye {
    position: absolute;
    right: 25px;
    top: 8px;
}

.form_item_container_choice_role {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.form_item_container_choice_role_item {
    width: calc(50% - 12.5px);
    display: flex;
    justify-content: end;
}

.form_item_container_choice_role_item:last-child {
    justify-content: start;
}

.wrapper_choice_role_item {
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_choice_role_item:hover {
    background-color: #212121;
    color: #fff;
    cursor: pointer;
}

.role_radio:checked + .wrapper_choice_role_item {
    background-color: #212121;
    color: #fff;
}

.wrapper_toggle_role {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clue {
    text-align: center;
    width: fit-content;
    padding: 5px 9px;
    background-color: #84DD28;
    border-radius: 10px;
    font-size: 20px;
    width: 13px;
    font-weight: bold;
    margin-right: 25px;
}

.clue:hover {
    cursor: pointer;
}

.form_button {
    width: fit-content;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    background-color: #84DD28;
    border: none;
}

.form_button:hover {
    cursor: pointer;
}

.role_radio {
    display: none;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    top: 50%;
    right: 100%;
    margin-right: 5px;
    transform: translateY(-50%);
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: -20%;
}

.form_signup_footer {
    margin-top: 15px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #898B8E;
}

.form_signup_footer a {
    color: rgba(132, 221, 40, 1);
}

.form_signup_footer_forgot_password {
    margin: 0 auto;
    margin-top: 35px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px solid rgba(132, 221, 40, 1);
}